.slider{
    width: 80%;
    height: 400px;
    margin: 30px auto;
    overflow: hidden;
    position: relative;
}
.slid{
    width: 400%;
    height: 100%;
    display: flex;
    animation: slid 16s  infinite;
}
.slid img{
    width: 25%;
    height: 100%;
    object-fit: cover;
}
@keyframes slid {
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(-25%);
    }
    45%{
        transform: translateX(-25%);
    }
    50%{
        transform: translateX(-50%);
    }
    70%{
        transform: translateX(-50%);
    }
    75%{
        transform: translateX(-75%);
    }
    95%{
        transform: translateX(-75%);
    }
    100%{
  transform: translateX(0);
    }

    
}
